<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685689771267-pn4e28p67sukrmklk4udvdnff9c0f33m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685689771267-pn4e28p67sukrmklk4udvdnff9c0f33m</string>
	<key>API_KEY</key>
	<string>AIzaSyB9_CmjNr3ovuOL6UUKaD3XxAkCjPOqq60</string>
	<key>GCM_SENDER_ID</key>
	<string>685689771267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alexhort.TodoListApp</string>
	<key>PROJECT_ID</key>
	<string>todolist-381e2</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-381e2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685689771267:ios:abb8288350fcfaf7e50536</string>
</dict>
</plist>